html, body, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row; 
  height: 100%;
  background-color: #eee;
}
.rightContent {
  flex: 1; /* zajmuje resztę szerokości */
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}
.content {
 flex: 1; 
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;               /* <-- kluczowa zmiana */
  flex-direction: row;         /* ustawienie obok siebie */
  gap: 20px;                   /* odstęp między inputs a rightTicket */
  flex: 1;
  overflow: hidden;
  height: 100%;
  align-items: flex-start;      /* wyrównanie góry */
}

.inputs {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  max-width: 15%;
  flex: 0 0 15%;              /* szerokość na sztywno 15% */
  height: 100%;
}
.rightTicket {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #eee;
  flex: 1;                    /* reszta szerokości */
  height: 100%;
}

