html, body, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row; 
  height: 100%;
  background-color: #eee;
}
.rightContent {
  flex: 1; /* zajmuje resztę szerokości */
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}
.content {
 flex: 1; 
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 20px;
  display: flex;               /* <-- kluczowa zmiana */
  flex-direction: row;         /* ustawienie obok siebie */
  gap: 20px;                   /* odstęp między inputs a rightTicket */
  flex: 1;
  overflow: hidden;
  height: 100%;
  align-items: flex-start;      /* wyrównanie góry */
}

.rightContent,
.content,
.card {
  min-height: 0;
}

.inputs {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;
  max-width: 15%;
  flex: 0 0 15%;              /* szerokość na sztywno 15% */
  height: 100%;
}
.rightTicket {
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  border: 1px solid #eee;
  flex: 1;                    /* reszta szerokości */
  height: 100%;
}


.tableWrapper {
  flex: 1;           /* zajmuje całą wysokość ticketList */
  overflow-y: auto;  /* scroll tylko dla danych */
  border-radius: 20px;
  height: 65vh;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-spacing: 0;
}

th, td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #3b82f6;
  font-weight: 600;
  position: sticky;
  top: 0;             /* nagłówek przyklejony */
  z-index: 1;
}

.ticketList tr:hover {
  background-color: #f1f7f9;
}

/* notes input */
.notes{
  flex:1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.inputNotes{
  display: flex;
  border-radius: 15px;
  width: 60vh;
  height: 10vh;
  padding: 10px;
  resize: none;
}
.buttonsSection{
  display: flex;
}