html, body, .App {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: row; 
  height: 100%;
  background-color: #eee;
}
.rightContent {
  flex: 1; /* zajmuje resztę szerokości */
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}
.content {
 flex: 1; 
  display: flex;
  margin-left: 200px;
  flex-direction: column;
  height: 100%;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 0; /* usuwamy padding, aby tabela mogła wypełnić cały card */
  display: flex;
  flex-direction: column;
  flex: 1;/* wysokość carda */
  overflow: hidden; /* scroll pojawi się w tabeli */
}
.inputs{
  background-color: #fff;
  height: 100px;
}

